@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme{
    --color-secondary: #90A3BF;
    --color-primary:#3563E9;
    --color-darkgray:#13131399;
    --font-Jakarta:"Plus Jakarta Sans", sans-serif;

}

